* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: var(--theme-black);
  font-size: 2vh;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.7vh;
}

h2 {
  font-size: 2.3vh;
}

#video {
  max-width: 90%;
  height: auto;
}

.card {
  padding: 0.5rem 0.5rem 2rem;
}

#video {
  display: block;
  width: 70%;
  height: auto;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0.5rem 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--theme-black);
  color: whitesmoke;
  padding: 3rem;
}

@media (min-width: 550px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #thing-one {
    border: 1px solid black;
  }

  #thing-two {
    grid-area: 1/2/4/3;
    border: 1px solid black;
  }

  #thing-three {
    border: 1px solid black;
  }
}
